.portadaAcercaDeNosotros {
  @include heightWidth (600px, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/portadaAcercaDe.jpg);
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
  text-shadow: 3px 3px 7px rgba(26, 25, 24, 0.72);
  .textoPortadaAcerca {
    width: 70%;
    text-align: center;
  }
}
.quienesSomos {
  @extend %flexAcercaDeNosotros;
  h2 {
    @extend %acercaDeNosotrosh2;
  }
  p {
    @extend %acercaDeNosotrosP;
    span {
      @extend %acercaDeNosotrosSpan;
    }
  }
}
.elPerro {
  @extend %flexAcercaDeNosotros;
  h2 {
    @extend %acercaDeNosotrosh2;
  }
  p {
    @extend %acercaDeNosotrosP;
    span {
      @extend %acercaDeNosotrosSpan;
    }
  }
}
.porquePerroRaza {
  @extend %flexAcercaDeNosotros;
  h2 {
    @extend %acercaDeNosotrosh2;
  }
  p {
    @extend %acercaDeNosotrosP;
    span {
      @extend %acercaDeNosotrosSpan;
    }
  }
}
