.contenedor-blog {
  display: flex;
  justify-content: space-evenly;
  margin: 90px;
  font-size: larger;
  div {
    margin: 30px;
    .list-group-item:hover {
      font-weight: bolder;
    }
    .scrollspy-example {
      h2 {
        @include blog (#ddb38c, bolder)
      }
      h3 {
        @include blog (#e7cdb5, bold)
      }
      h4 {
        color: #e7cdb5;
      }
      p {
        text-align: justify;
      }
    }
  }
}
