

header {
  height: 120px;
  width: 120px;
  margin-bottom: 0px;
  margin-right: 30px;
  margin-top: 0px;
  nav {
    div {
      a {
        .imagen-nav {
          height: 120px;
          width: 120px;
          margin-bottom: 0px;
          margin-right: 30px;
          margin-top: 0px;
        }
      }
      div {
        ul {
          display: flex;
          border-bottom: solid gray;
          li {
            margin: 8px;
            .nav-link:hover {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
